header {
    background-color:  #244751;
    color: #E8FDFF;
    padding-left: 16px;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 30px;
    font-family: Oswald
}
.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}



a:hover {
    color: orange;
}

a:active {
    
    color: red;
}
